<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= f.error_notification %>
  <div class="container">
    <div class="row">
    <div class="col-12">
      <div class="card">
      <div class="card-body">
        <div class="col-md-4 col-md-offset-4">
          <h3><%= t(".sign_up") %> <small> Sign Up</samll></h3>
          <hr>
          <div class="form-inputs">
          <%= f.input :name, required: true, autofocus: true, label: "이름" %>
          <%= f.input :studentNumber, required: true, label: "학번", placeholder: '2018101234', hint: "학번은 아이디로 사용됩니다."%>
          <%= f.input :password, required: true, label: "비밀번호" %>
          <%= f.input :password_confirmation, required: true, label: "비밀번호확인" %>
          <%= f.input :phoneNumber, required: true, label: "연락처", placeholder: '01012345678'%>
          <%= f.input :email, required: true, autofocus: true, label: "이메일", placeholder: 'user@domain.com'%>
          <%= f.input :major, required: true, label: "학과", as: :radio_buttons, :collection => [ "응용화학과" ]%>
          <%= f.input :identity, required: true, label: "권한", as: :radio_buttons, :collection => [[ "학부생","student" ]]%>
          <%= f.input :feeOfSchool, required: true, label: "학생회비 납부여부", as: :radio_buttons, :collection => [[ "납부", true], ["미납",false]]%>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <strong>공지사항</strong>
              <hr>
              미납부자일 경우 서비스이용에 제한이 있을 수 있으며 거짓으로 납부여부를 기입하여 부당한 이득을 취했을 경우 보상을 청구할 수 있습니다.</br></br>
          <div class="notation" style="text-align:right;"><%= f.input :notation, required: true, label: "확인하였으며 동의합니다. ", as: :radio_buttons, :collection => [[ "확인",true ]]%></div>
          </div>
        </div>
        <br>
          <div class="col-md-4 col-md-offset-4">
            <div class="form-actions">
              <%= f.button :submit, t(".sign_up"),class: "btn" %>
              <!-- <%= render "devise/shared/links" %> -->
              <%= link_to "로그인", new_user_session_path, method: "get", class: "btn btn-light"  %>
              <%= link_to "이전", root_path, method: "get", class: "btn btn-light"  %>
            </div>
            <% end %>
          </div>
      </div>
      </div>
    </div>
    </div>
</div>
<!-- <h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->
