<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.name_field :name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :major %><br />
    <%= f.major_field :major, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :studentNumber %><br />
    <%= f.studentNumber_field :studentNumber, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :phoneNumber %><br />
    <%= f.phoneNumber_field :phoneNumber, autocomplete: "off" %>
  </div>


  <div class="field">
    <%= f.label :feeOfSchool %><br />
    <%= f.feeOfSchool_field :feeOfSchool, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
