<div class="container container-fluid">
  <div class="row">
  <div class="col-12 col-md-8">
    <div class= "grid1">
        <% if user_signed_in? %>
          <% if (current_user.major=="응용화학과") %>
          <a href="/locker/applchem" class="card-link" >
        <div class="card" id="applechemLocker">
        <div class="card-body">
          <h5 class="card-title" style="color: #e9e9e9"> 경희대학교 응용화학과
          <h6 class="card-subtitle mb-2" style="color: #e9e9e9">경희대학교 공과대학 4층
          <p class="card-text">
            <% if current_user.identity == "student" %>
              <% if @time1.studentTimeStart > Time.now %>
              <span class="badge badge-warning">학부생 접수전</span>
              <% elsif @time1.studentTimeStart <= Time.now && @time1.studentTimeEnd >= Time.now %>
              <span class="badge badge-success">학부생 접수중</span>
              <% elsif @time1.studentTimeStart == @time1.studentTimeEnd %>
              <span class="badge badge-secondary">학부생 설정 전</span>
              <% else %>
              <span class="badge badge-danger">학부생 접수완료</span>
              <% end %>
            <% end %>
          <% end %>
          </p>
        </div>
        </div>
        </a>
        <% else %>
        <div class="card">
          <div class="card-body" >
              <%= image_tag("preview.png", id:"preview") %>
          </div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="grid2" >
        <% if user_signed_in? %>
            <% if current_user.identity != "admin" %>
               <% if current_user.major == "응용화학과" %>
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">  <strong><%= current_user.name %></strong>&nbsp님 안녕하세요.</h5>
                 <% if (current_user.applchemLocker != nil) %>
                   <%= current_user.applchemLocker.lockerNumber %>번 사물함을 사용하고 계십니다.
                 <% elsif (current_user.applchemLocker == nil) %>
                   신청한 사물함이 없습니다.
                 <% end %>
               <% end %>
             </div>
           </div>
               <div class="list-group">
                 <div class="list-group-item list-group-item-action"><%= link_to "내 정보", index_myinfo_path, method: "get" %></div>
                 <div class="list-group-item list-group-item-action"><%= link_to "로그아웃", destroy_user_session_path, method: "delete" %></div>
               </div>
               <% elsif current_user.identity == "admin" %>
               <% if current_user.major == "응용화학과" %>
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">  <strong><%= current_user.name %></strong>&nbsp님 안녕하세요.</h5>
                30000명이 사용하고 있습니다.
           </div>
         </div>
            <div class="list-group">
              <div class="list-group-item list-group-item-action"><%= link_to "내 정보", index_myinfo_path, method: "get" %></div>
              <div class="list-group-item list-group-item-action"><%= link_to "신청현황", admin_index_path, method: "get" %></div>
              <div class="list-group-item list-group-item-action"><%= link_to "사물함 설정", admin_time_path, method: "get" %></div>
              <div class="list-group-item list-group-item-action"><%= link_to "로그아웃", destroy_user_session_path, method: "delete" %></div>
            </div>
               <% end %>
             <% end %>
        <% else %>
      <div class="list-group">
        <div class="list-group-item list-group-item-action"><%= link_to "로그인", new_user_session_path, method: "get" %></div>
        <div class="list-group-item list-group-item-action"><%= link_to "회원가입", new_user_registration_path, method: "get" %></div>
      </div>
      <% end %>
    </div>

    <div class="grid3">
      <div class="card" style="color:#a9afb3; background: #292a2b;">
          <div class="card-body">
          <div class="row">
              <div class="col-12">
                <small>
                <strong>Created by</strong><br>
                <strong>김도훈</strong> dhooonk@naver.com<br>
                <a href="https://www.facebook.com/doehoon.kim" style="color: #a9afb3;"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/kimdoehoon/" style="color: #a9afb3;"><i class="fab fa-instagram"></i></a>
                <br>
                <strong>서원석</strong> younha1000@daum.net<br>
                <a href="https://www.facebook.com/dydrlaks?fref=ts" style="color: #a9afb3;"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/dydrlaks/" style="color: #a9afb3;"><i class="fab fa-instagram"></i></a>
            </div>
              <div class="col-12">
                 Code licensed under <strong><a href="ttps://opensource.org/licenses/mit-license.html" style="color: #a9afb3;">MIT License</a></strong><br>
                 Documentation licensed under <strong><a href="https://creativecommons.org/licenses/by/3.0/" style="color: #a9afb3;">CC BY 3.0</a></strong><br><br>
                 <strong>Special thanks to</strong><br>
                 <%= image_tag("basiclogo_E_H_W.png", id: "footerLikelion")%>
              </div>
              <div class="col-12">
                  <hr style="border-color:#fff;margin-bottom:1.6em;">
                 <a href="/posts#services" style="color: #a9afb3;">소개</a> /
                 <a href="/posts/partner" style="color: #a9afb3;">제휴제안</a> /
                 <a href="/posts/privacy" style="color: #a9afb3;">개인정보처리방침</a>
              </div>
            </small>
          </div>
          </div>
        </div>
    </div>

    </div>

  </div>
</div>
