<div class="container container-fluid">
  <div class="row">
  <div class="col-12 col-md-8">
    <div class= "grid1">
        <% if user_signed_in? %>
          <% if (current_user.major=="응용화학과") %>
          <a href="/locker/applchem" class="card-link" >
        <div class="card" id="applchemLocker">
        <div class="card-body">
          <h5 class="card-title" style="color: #e9e9e9"> 경희대학교 응용화학과
          <h6 class="card-subtitle mb-2" style="color: #e9e9e9">경희대학교 공과대학 4층
          <p class="card-text">
            <% if current_user.identity == "student" || "admin"%>
              <% if @time1.studentTimeStart > Time.now %>
              <span class="badge badge-warning">학부생 접수전</span>
              <span class="badge badge-light">신청기간 : <%= @time1.studentTimeStart %> ~ <%= @time1.studentTimeEnd %></span>
              <% elsif @time1.studentTimeStart <= Time.now && @time1.studentTimeEnd >= Time.now %>
              <span class="badge badge-success">학부생 접수중</span>
              <span class="badge badge-light">신청기간 : <%= @time1.studentTimeStart %> ~ <%= @time1.studentTimeEnd %></span>
              <% elsif @time1.studentTimeStart == @time1.studentTimeEnd %>
              <span class="badge badge-secondary">학부생 설정 전</span>
              <span class="badge badge-light">신청기간 : <%= @time1.studentTimeStart %> ~ <%= @time1.studentTimeEnd %></span>
              <% else %>
              <span class="badge badge-danger">학부생 접수완료</span>
              <span class="badge badge-light">신청기간 : <%= @time1.studentTimeStart %> ~ <%= @time1.studentTimeEnd %></span>
              <% end %>
          </p>
        </div>
        </div>
        </a>
        <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <span class="badge badge-warning">공지사항</span>
          <h6 class="card-subtitle mb-2">
          <p class="card-text"><small>이용에 불편함을 겪거나 문의사항이 있으신분은 학생회장 권영우(010-2752-1827) 혹은 김도훈 (010-3236-6642)으로 문의해주시면 확인하는 대로 연락드리겠습니다.</small></p>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <span class="badge badge-warning">공지사항</span>
          <h6 class="card-subtitle mb-2">
          <p class="card-text"><small>어제 개발자분과의 미팅이 있었습니다. 현재 작년 페이지를 새로 리뉴얼 하는 과정에서 모든 데이터가 초기화 되었고 금일(3월9일 금요일) 오후2시쯤 사물함 신청 페이지와 신청방법에 대한 공지사항이 올라갈 예정입니다.
          추가적으로 페이지의 안정성과 완성도에 대한 이야기를 나누어본 결과 다음주 월요일쯤 되어야 학우분들이 사용하기에 적합하다고 판단, 사이트 가입은 금요일부터 일요일까지// 사물함 신청은 월요일로 진행하게 되었습니다.
          다시한번 기다리게 해 드려 죄송한 마음을 전해 드립니다.
          더욱 자세한 공지는 앞서 말씀드렸다시피 금일 오후에 상세하게 공지될 예정입니다.</small>
            <% end %>
          <% end %>
          </p>
        </div>
        </div>

        <% else %>
        <div class="card">
          <div class="card-body text-center" >
              <%= image_tag("preview.png", id:"preview") %>
          </div>
          </div>
          <a href='https://play.google.com/store/apps/details?id=com.w_5557579'>
            <img alt='다운로드하기 Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/ko_badge_web_generic.png'/ style="width:150px;">
          </a>
        <% end %>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="grid2" >
        <% if user_signed_in? %>
            <% if current_user.identity != "admin" %>
               <% if current_user.major == "응용화학과" %>
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">  <strong><%= current_user.name %></strong>&nbsp님 안녕하세요.</h5>
                 <% if (current_user.applchemLocker != nil) %>
                   <%= current_user.applchemLocker.lockerNumber %>번 사물함을 사용하고 계십니다.
                 <% elsif (current_user.applchemLocker == nil) %>
                   신청한 사물함이 없습니다.
                 <% end %>
               <% end %>
             </div>
           </div>
               <div class="list-group">
                 <div class="list-group-item list-group-item-action"><%= link_to "내 정보", index_myinfo_path, method: "get" %></div>
                 <div class="list-group-item list-group-item-action"><%= link_to "로그아웃", destroy_user_session_path, method: "delete" %></div>
               </div>
               <% elsif current_user.identity == "admin" %>
                <% if current_user.major == "응용화학과" %>
               <div class="card">
                 <div class="card-body">
                   <h5 class="card-title">  <strong><%= current_user.name %></strong>&nbsp님 안녕하세요.</h5>
                <%= current_user.major %> <%= @UserCount %>명이 사용하고 있습니다.
           </div>
         </div>
            <div class="list-group">
              <div class="list-group-item list-group-item-action"><%= link_to "내 정보", index_myinfo_path, method: "get" %></div>
              <div class="list-group-item list-group-item-action"><%= link_to "신청현황", admin_index_path, method: "get" %></div>
              <div class="list-group-item list-group-item-action"><%= link_to "사물함 설정", admin_time_path, method: "get" %></div>
              <div class="list-group-item list-group-item-action"><%= link_to "로그아웃", destroy_user_session_path, method: "delete" %></div>
            </div>
               <% end %>
             <% end %>
        <% else %>
      <div class="list-group">
        <div class="list-group-item list-group-item-action"><%= link_to "로그인", new_user_session_path, method: "get" %></div>
        <div class="list-group-item list-group-item-action"><%= link_to "회원가입", new_user_registration_path, method: "get" %></div>
      </div>
      <% end %>
    </div>

    <div class="grid3">
      <div class="card" style="color:#a9afb3; background: #292a2b;">
          <div class="card-body">
          <div class="row">
              <div class="col-12">
                <small>
                <strong>Created by</strong><br>
                <strong>김도훈</strong> dhooonk@naver.com<br>
                <a href="https://www.facebook.com/doehoon.kim" style="color: #a9afb3;"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/kimdoehoon/" style="color: #a9afb3;"><i class="fab fa-instagram"></i></a>
                <br>
                <strong>서원석</strong> younha1000@daum.net<br>
                <a href="https://www.facebook.com/dydrlaks?fref=ts" style="color: #a9afb3;"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/dydrlaks/" style="color: #a9afb3;"><i class="fab fa-instagram"></i></a>
            </div>
              <div class="col-12">
                 Code licensed under <strong><a href="ttps://opensource.org/licenses/mit-license.html" style="color: #a9afb3;">MIT License</a></strong><br>
                 Documentation licensed under <strong><a href="https://creativecommons.org/licenses/by/3.0/" style="color: #a9afb3;">CC BY 3.0</a></strong><br><br>
                 <strong>Special thanks to</strong><br>
                 <%= image_tag("basiclogo_E_H_W.png", id: "footerLikelion")%>
              </div>
              <div class="col-12">
                  <hr style="border-color:#fff;margin-bottom:1.6em;">
                 <a href="/index/service" style="color: #a9afb3;">소개</a> /
                 <a href="/index/partner" style="color: #a9afb3;">제휴제안</a> /
                 <a href="/index/privacy" style="color: #a9afb3;">개인정보처리방침</a>
              </div>
            </small>
          </div>
          </div>
        </div>
    </div>

    </div>

  </div>
</div>
